h1 {
    color: #456;
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
   
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }
  h1:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }
  .heading{
      margin: auto;
      text-align: center;
  }
  input[type=text]{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #456;
    width: fit-content;
  }
  input[type=button]{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    width: fit-content;
    color: rgb(224, 117, 183);
    border-bottom: 2px solid #456;
    border-top-right-radius: 20px;
  }
  .line{
      margin-block-start: 5%;
      border: 2px solid #eb7d7d;
  }
  #icon{
      width: 200px;
  }
  #cityName,#temperature,#region{
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
  }
  .weather{
    width: 600px;
    margin-inline-start: 30%;
    margin-inline-end: 30%;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
  }
  @media only screen and (max-width: 400px) {
    .sub-heading{
        margin-inline-start: 50%;
        margin-inline-end: 50%;
    }.inputCity{
        margin-inline-start: 45%;
        margin-inline-end: -55%;
    }.line{
        width: 205%;
        margin-inline-end: -107%;
    }.weather{
        margin-inline-start: 15%;
        margin-inline-end: 15%;
    }
  }